body {
  background: #f2dff2;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}

.box {
  width: 140px;
  height: 140px;
  background: #9b59b6;
  border-radius: 8px;
  display: flex;
  padding: 10px;
}

.box span {
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 4px;
}


.start {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.column {
  flex-direction: column;
  gap: 5px;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  gap: 10px;
}

.end {
  justify-content: flex-end;
  gap: 5px;
}

.bottom {
  align-items: flex-end;
  gap: 5px;
}
